@(id: Long, todoForm: Form[String])(implicit request: MessagesRequestHeader)

<html>
<head>
    <title>Todo</title>
</head>
<body>

<h1>Todo update</h1>

@helper.form(action = routes.TodoController.todoUpdate(id)) {
@helper.CSRF.formField

    <fieldset>
        @helper.inputText(todoForm("name"), '_label -> "name")
    </fieldset>

    <input type="submit" value="update">
}

@helper.form(action = routes.TodoController.todoDelete(id)) {
@helper.CSRF.formField
    <input type="submit" value="delete" class="btn danger">
}

</body>
</html>